<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{dim} %highlight{%-5level }[%style{%t}{bright,blue}] [%style{%X{environment} %X{service}}{bright,green}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="io.github.dschanoeh" level="info"></Logger>
    </Loggers>

</Configuration>